*{
    margin: 0;
    padding: 0;
    font-family: cursive;

}
body{
    background-color: orange;
}
nav{
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
    url('1.png');
    height: 37vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid ;
}
ul li a:hover{
    background-color: orange;
    color: white;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 37%;
    left: 0%;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 40%;
    left: 30%;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}
.title h1{
    font-size: 50px;
}
.button{
    position: absolute;
    top: 60%;
    left: 40%;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: aqua;
    text-decoration: none;
    justify-content: space-between;
}
.btn:hover {
    background-color: white;
}
.about{
    position: absolute;
    top: 70%;
    left: 50%;
    color: blue;
    font-style: italic;
    text-decoration: underline;
}
.abc{
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    font-style: italic;
    text-decoration: underline;

}
.social{
    position: absolute;
    top: 80%;
    right: 65%;
    left: 0.5%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;  
    color: white;  
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.footer{
    position: absolute;
    top: 120%;
}
.end{
    position: absolute;
    top: 130%;
    left: 40%;
    font-style: italic;
    text-decoration: underline;
    color: aquamarine;
}
    
